/* Mobile and tablet <= 1023px  */
@media (max-width: 63.9375em) {
    .hide-tablet-mobile {
        display: none;
    }

    .btn {
        line-height: 32px;
        min-width: 90px;
        font-size: 1.2rem;
    }

    .header {
        padding: 0 var(--gap-mobile);
    }

    .header__wrapper {
        padding-top: 25px;
    }

    .header__logo {
        width: 84px;
        height: 16px;
    }

    .header__menu-btn {
        display: block;
    }

    /* Header hero */
    .header-hero {
        flex-direction: column;
        padding-top: 38px;
    }

    .header-hero__content {
        padding-right: 0;
    }

    .header-hero__heading {
        margin-top: 0;
        font-size: 3rem;
        max-width: 233px;
    }

    .header-hero__desc {
        margin-top: 10px;
        margin-bottom: 20px;
        max-width: 240px;
        font-size: 1.4rem;
    }

    .header-hero__btn {
        min-width: 107px;
        line-height: 35px;
        margin-right: 25px;
    }

    .header-hero__play-icon {
        width: 30px;
        height: 30px;
    }

    .header-hero__play {
        padding: 2px;
        border-width: 3px;
    }

    .header-hero__explore-label {
        font-size: 1.4rem;
    }

    figure.header-hero__images {
        margin-top: 64px;
        margin-top: 64px;
        gap: 8px;
        width: 100%;
        height: 229px;
        justify-content: center;
    }

    .header-hero__img {
        width: 85px;
        height: 197px;
    }

    .header-hero__circle-overlay {
        width: 205px;
        height: 205px;
    }

    .header-hero__decor {
        width: 138px;
        top: -6px;
        left: 10px;
    }

    .header-hero__decor:last-of-type {
        bottom: 16px;
        right: 32px;
    }

    .header-hero__decor-union {
        width: 20px;
        height: 20px;
        top: 8px;
        left: -10px;
    }

    /* Contributor */
    .contributor {
        margin-left: var(--gap-mobile);
        margin-right: var(--gap-mobile);
    }

    .contributor__list {
        border-radius: 30px;
        padding: 55px 28px;
        row-gap: 33px;
    }

    .contributor__item {
        text-align: center;
    }

    .contributor__logo {
        transform: scale(0.8);
    }

    /* Service */
    .service {
        padding-left: var(--gap-mobile);
        padding-right: var(--gap-mobile);
    }

    .heading {
        font-size: 3rem;
    }

    .service .heading {
        max-width: 281px;
    }

    .service__list {
        margin-top: 0;
        flex-wrap: nowrap;
        overflow: hidden;
        position: relative;
        padding: 50px 0;
    }

    .service__list .service__controls {
        display: flex;
        margin-top: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        justify-content: space-between;
        align-items: center;
        z-index: -1;
    }

    .service__control {
        width: 33px;
        height: 33px;
    }

    .service-item {
        margin: 16px 40px;
    }

    .service-item {
        box-shadow: -6px 9px 64px -16px rgba(118, 118, 118, 0.25);
    }

    .service-item:hover {
        box-shadow: -6px 9px 64px -16px rgba(118, 118, 118, 0.25);
    }

    .service__info {
        padding: 16px 12px 26px;
    }

    .service-item__title {
        font-size: 1.8rem;
    }

    .service-item__desc {
        font-size: 1rem;
        max-width: 193px;
    }

    /* about */
    .about {
        margin-top: 50px;
        padding: 0 var(--gap-mobile);
    }

    .about__row {
        flex-direction: column;
    }

    figure.about__media {
        width: 100%;
        height: 300px;
        padding-left: 18px;
    }

    .about__image {
        width: calc(50% - 6px);
        height: 258px;
    }

    .about__card {
        bottom: -50px;
        right: 10px;
    }

    img.decor-media__wire {
        width: 287px;
        height: 191px;
    }

    .decor-media__union {
        top: 25px;
        left: -20px;
        width: 38px;
        height: 38px;
    }

    .decor-media {
        top: 16px;
        left: 0;
    }

    .about__content {
        margin-left: 0;
        margin-top: 115px;
    }

    .about__heading {
        max-width: 263px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .about__description {
        font-size: 1.4rem;
        max-width: 310px;
    }

    .about__stats-percent {
        font-size: 2.6rem;
        margin-right: 15px;
    }

    .about__stats-desc {
        font-size: 1rem;
    }
}

/* Tablet 740px - 1023px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-tablet {
        display: none;
    }
}

/* Mobile <= 739px */
@media (max-width: 46.1875em) {
    .hide-mobile {
        display: none;
    }
}
