/* Header section */

.header__wrapper {
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 12px;
}

.header__navbar-item {
    position: relative;
}

.header__navbar-item--active::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    bottom: -15px;
    left: 19px;
}

.header__navbar-link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-gray);
    display: inline-block;
    padding: 12px 19px;
    transition: 0.3s;
}

.header__navbar-item--active .header__navbar-link,
.header__navbar-link:hover {
    color: var(--text-color);
}

.header__authenticate {
    margin-left: 69px;
}

.header__menu-btn {
    display: none;
    border: none;
    color: var(--primary-color);
    margin-left: 30px;
    cursor: pointer;
    padding: 0;
}

.header__divider {
    height: 1px;
    background: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
}

/* Header hero */
.header-hero {
    padding-top: 60px;
    display: flex;
}

.header-hero__content {
    flex: 1;
    padding-right: 76px;
}

.header-hero__heading {
    margin-top: 43px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--text-color);
    max-width: 374px;
}

.header-hero__desc {
    margin-top: 20px;
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-gray);
    max-width: 374px;
}

.header-hero__btn {
    margin-right: 36px;
}

.header-hero__explore {
    background-color: transparent;
    border: none;
    cursor: pointer;
    column-gap: 9px;
}

.header-hero__play {
    border-radius: 100%;
    padding: 4px;
    border-left: 4px solid #143c3c;
    border-top: 4px solid #143c3c;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: rotate(-45deg);
}

.header-hero__play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: #83a17d;
}

.header-hero__play-img {
    transform: rotate(45deg);
}

.header-hero__explore-label {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: var(--text-color);
}

.header-hero__images {
    width: 56.7%;
    height: 543px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}

.header-hero__decor {
    width: 545px;
    position: absolute;
    left: -172px;
    top: -32px;
}

.header-hero__decor:last-of-type {
    left: unset;
    top: unset;
    right: 48px;
    bottom: -70px;
    transform: rotate(175deg);
}

.header-hero__decor-wire {
    width: 100%;
    transform: rotate(180deg);
}

.header-hero__decor-union {
    position: absolute;
    top: 29px;
    left: -38px;
}

.header-hero__circle-overlay {
    position: absolute;
    background-color: #4dbb9a;
    width: 348px;
    height: 340px;
    border-radius: 100%;
    filter: blur(137px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.header-hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.header-hero__img:nth-of-type(2) {
    align-self: flex-end;
}

/* Contributor */

.contributor {
    margin-top: 130px;
}

.contributor__list {
    padding: 76px 114px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    border-radius: 100px;
    row-gap: 20px;
}

.contributor__item {
    flex: 1;
}

/* Service */
.service {
    margin-top: 106px;
}

.service .heading {
    margin-top: 12px;
    max-width: 520px;
    transition: 0.3s;
}

.service__row {
    justify-content: space-between;
}

.service__controls {
    column-gap: 16px;
    margin-top: 40px;
}

.service__control {
    width: 54px;
    height: 54px;
    background: var(--secondary-color);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    border: none;
}

.service__control--active {
    background-color: var(--primary-color);
}

.service__control-icon {
    margin: auto;
}

.service__list {
    margin-top: 76px;
}

.service__list .service__controls {
    display: none;
}

.service-item {
    border-radius: 20px;
    background-color: #fff;
    transition: all 0.3s linear;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__link {
    display: block;
}

.service-item__thumb {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    aspect-ratio: 370 / 318;
    object-fit: cover;
    object-position: center;
}

.service__info {
    padding: 24px 18px;
}

.service-item__title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--text-color);
}

.service-item__title:hover {
    color: var(--primary-color);
}

.service-item__desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--text-desc);
}
