/* Header section */

.header__wrapper {
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 12px;
}

.header__navbar-item {
    position: relative;
}

.header__navbar-item--active::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    bottom: -15px;
    left: 19px;
}

.header__navbar-link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-gray);
    display: inline-block;
    padding: 12px 19px;
    transition: 0.3s;
}

.header__navbar-item--active .header__navbar-link,
.header__navbar-link:hover {
    color: var(--text-color);
}

.header__authenticate {
    margin-left: 69px;
}

.header__menu-btn {
    display: none;
    border: none;
    color: var(--primary-color);
    margin-left: 30px;
    cursor: pointer;
    padding: 0;
}

.header__divider {
    height: 1px;
    background: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
}

/* Header hero */
.header-hero {
    padding-top: 60px;
    display: flex;
}

.header-hero__content {
    flex: 1;
    padding-right: 76px;
}

.header-hero__heading {
    margin-top: 43px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--text-color);
    max-width: 374px;
}

.header-hero__desc {
    margin-top: 20px;
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-gray);
    max-width: 374px;
}

.header-hero__btn {
    margin-right: 36px;
}

.header-hero__explore {
    background-color: transparent;
    border: none;
    cursor: pointer;
    column-gap: 9px;
}

.header-hero__play {
    border-radius: 100%;
    padding: 4px;
    border-left: 4px solid #143c3c;
    border-top: 4px solid #143c3c;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: rotate(-45deg);
}

.header-hero__play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: #83a17d;
}

.header-hero__play-img {
    transform: rotate(45deg);
}

.header-hero__explore-label {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: var(--text-color);
}

.header-hero__images {
    width: 56.7%;
    height: 543px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}

.header-hero__decor {
    width: 545px;
    position: absolute;
    left: -172px;
    top: -32px;
}

.header-hero__decor:last-of-type {
    left: unset;
    top: unset;
    right: 48px;
    bottom: -70px;
    transform: rotate(175deg);
}

.header-hero__decor-wire {
    width: 100%;
    transform: rotate(180deg);
}

.header-hero__decor-union {
    position: absolute;
    top: 29px;
    left: -38px;
}

.header-hero__circle-overlay {
    position: absolute;
    background-color: #4dbb9a;
    width: 348px;
    height: 340px;
    border-radius: 100%;
    filter: blur(137px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.header-hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.header-hero__img:nth-of-type(2) {
    align-self: flex-end;
}

/* Contributor */

.contributor {
    margin-top: 130px;
}

.contributor__list {
    padding: 76px 114px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    border-radius: 100px;
    row-gap: 20px;
}

.contributor__item {
    flex: 1;
}

/* Service */
.service {
    margin-top: 106px;
}

.service .heading {
    margin-top: 12px;
    max-width: 520px;
    transition: 0.3s;
}

.service__row {
    justify-content: space-between;
}

.service__controls {
    column-gap: 16px;
    margin-top: 40px;
}

.service__control {
    width: 54px;
    height: 54px;
    background: var(--secondary-color);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    border: none;
}

.service__control--active {
    background-color: var(--primary-color);
}

.service__control-icon {
    margin: auto;
}

.service__list {
    margin-top: 76px;
}

.service__list .service__controls {
    display: none;
}

.service-item {
    border-radius: 20px;
    background-color: #fff;
    transition: all 0.3s linear;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__link {
    display: block;
}

.service-item__thumb {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    aspect-ratio: 370 / 318;
    object-fit: cover;
    object-position: center;
}

.service__info {
    padding: 24px 18px;
}

.service-item__title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--text-color);
}

.service-item__title:hover {
    color: var(--primary-color);
}

.service-item__desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--text-desc);
}

/* About */

.about {
    margin-top: 157px;
}

.about__row {
    display: flex;
}

.about__media {
    width: 51.84%;
    height: 557px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.decor-media {
    position: absolute;
    top: -4px;
    left: 50px;
    transform: rotate(12.64deg);
}

.decor-media__union {
    position: absolute;
    top: 41px;
    left: -41px;
}

.decor-media__wire {
    width: 541px;
    height: 360px;
    transform: rotate(180deg);
}

.about__image {
    width: calc(50% - 10px);
    height: 480px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
}

.about__image:first-of-type {
    align-self: flex-end;
}

.about__image:last-of-type {
    align-self: flex-start;
}

.about__content {
    flex-shrink: 0;
    flex: 1;
}

.about__card {
    position: absolute;
    bottom: 8px;
    right: -9px;
    background-color: #fff;
    width: 143px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    padding: 19px 17px 11px;
}

.about__card-content {
    padding: 0 6px;
}

.about__card-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--text-color);
}

.about__card-desc {
    margin-top: 6px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-gray);
    opacity: 0.4;
}

.about__progress-percent {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color);
}

.about__progress-bar {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about__progress-current {
    display: block;
    width: 40%;
    border-radius: 10px;
    height: 2px;
    background-color: #83a17d;
}

.about__progress-loading {
    margin-bottom: 18px;
}

.about__card-teams,
.about__progress-loading {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color);
}

.about__members {
    margin-left: auto;
}

.about__members-avatar {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-left: -4px;
}

/* About content */

.about__content {
    margin-left: 64px;
}

.about__heading {
    margin-top: 20px;
    margin-bottom: 11px;
}

.about__heading::after {
    display: none;
}

.about__description {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--text-gray);
}

.about__stats {
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about__stats-percent {
    font-weight: 600;
    font-size: 4.2rem;
    color: var(--text-color);
    margin-right: 24px;
}

.about__stats-desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--text-gray);
}

/* Process section */

.process {
    margin-top: 115px;
}

.process__heading {
    margin-top: 20px;
    max-width: 477px;
}

.process__list {
    margin-top: 80px;
}

.process-item {
    position: relative;
    padding: 46px 20px 20px;
}

.process-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg, #83a17d 4.17%, rgba(131, 161, 125, 0) 36.46%);
}

.process-item:first-child::after {
    display: none;
}

.process-item:first-child {
    background-color: #e2eddf;
    border-radius: 33px;
    padding: 57px 30px 54px;
}

.process-item:first-child .process-item__content {
    margin-top: 15px;
}

.process-item__row {
    display: flex;
}

.process-item__no {
    width: 156px;
    font-weight: 600;
    font-size: 7.2rem;
    color: var(--primary-color);
}

.process-item__content {
    width: 350px;
}

.process-item__title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--text-color);
}

.process-item__link {
    display: inline-block;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: var(--text-gray);
    text-decoration: underline;
    margin-top: 22px;
}

.process-item__img {
    position: absolute;
    width: 450px;
    height: 444px;
    bottom: 0;
    right: 92px;
}

.process-item__desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-gray);
}

/* Features */

.features {
    margin-top: 148px;
    padding-top: 116px;
    padding-bottom: 63px;
    background-color: var(--primary-color);
}

.features__row {
    display: flex;
    justify-content: space-between;
}

.features__heading {
    color: #e7f9f9;
    max-width: 457px;
}

.features__heading::after {
    background-color: #83a17d;
}

.features__content {
    margin-top: 10px;
}

.features__desc {
    max-width: 590px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.features__cta {
    margin-top: 14px;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
}

.features__cta-arrow {
    margin-left: 26px;
}

.features__media {
    margin-top: 70px;
    position: relative;
}

.features__img {
    width: 100%;
    aspect-ratio: 1140 / 544;
    object-fit: cover;
    object-position: center;
    border-radius: 22px;
}

.features__play {
    width: 118px;
    height: 118px;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.features__play-img {
    margin: auto;
    width: 40px;
    height: 40px;
}

.features__decor {
    position: absolute;
    right: -40px;
    top: -160px;
}

.features__decor-union {
    position: absolute;
    top: 80px;
    right: 24px;
}

/* Service features */
.service-feature {
    margin-top: 140px;
    text-align: center;
}

.service-feature__heading {
    max-width: 520px;
    margin: 0 auto;
}

.service-feature__heading::after {
    display: none;
}

.service-feature__desc {
    max-width: 547px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-desc);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
}

.service-feature__list {
    margin-top: 130px;
    justify-content: space-between;
    column-gap: 45px;
}

.service-feature__item {
    flex: 1;
    border-radius: 160px;
    padding: 80px 40px;
    border: 1.5px solid #cecece;
    transition: 0.3s;
}

.service-feature__item:hover {
    background: #ffffff;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    border-color: transparent;
    transform: translateY(-60px);
}

.service-feature__item-title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: var(--text-color);
}

.service-feature__item-desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 286px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    text-align: center;
    color: var(--text-desc);
}

/* Home Blog */
.home-blog {
    margin-top: 184px;
}

.home-blog__head {
    justify-content: space-between;
}

.home-blog__heading {
    margin-top: 10px;
    max-width: 600px;
    line-height: 1.24;
}

.home-blog__desc {
    max-width: 409px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--text-gray);
}

.home-blog__list {
    margin-top: 90px;
}

.blog-item {
    border-radius: 40px;
    transition: 0.3s;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__btn {
    background-color: var(--primary-color);
    color: #fff;
}

.blog-item__link {
    display: block;
}

.blog-item__thumb {
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 360 / 317;
}

.blog-item__info {
    padding: 26px 30px 12px;
}

.blog-item__btn {
    display: inline-block;
    background: var(--secondary-color);
    border-radius: 20px;
    color: #000;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    border: none;
    padding: 7px 34px;
    cursor: pointer;
    transition: 0.3s;
}

.blog-item__title {
    margin-top: 13px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
    height: 90px;
    max-height: 90px;
}

.blog-item__date {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #c4c4c4;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: var(--text-gray);
    text-align: right;
}

.footer {
    margin-top: 102px;
    padding-top: 72px;
    padding-bottom: 50px;
    background-color: var(--primary-color);
}

.footer__form-title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #ffffff;
}

.footer__form-group {
    margin-top: 25px;
    width: 354px;
    justify-content: space-between;
    border-bottom: 1px solid #6a8383;
    padding-bottom: 20px;
}

.footer__form-control {
    height: 40px;
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: #fff;
    font-size: 2.2rem;
    color: #6a8383;
    font-weight: 600;
    padding-right: 20px;
}

.footer__form-submit {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 0;
}

.footer__socials {
    column-gap: 22px;
}

.footer__social-link {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #265252;
    border-radius: 100%;
    transition: 0.3s;
}

.footer__social-link:hover {
    border-color: transparent;
    background-color: #a75325;
}

.footer__row {
    margin-top: 22px;
}

.footer-col__heading {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.footer-col__list {
    margin-top: 6px;
}

.footer-col__link {
    display: block;
    font-weight: 500;
    font-size: 1.6;
    line-height: 2.25;
    color: #6a8383;
    transition: 0.3s;
}

.footer-col__link:hover {
    color: #4dbb9a;
}

.footer__divider {
    margin-top: 45px;
    height: 1px;
    background: linear-gradient(90deg, #143c3c 2.28%, #295a5a 55.65%, rgba(38, 82, 82, 0) 102.06%);
}

.footer__cta {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu {
    display: none;
    padding: 10px 0;
    background-color: transparent;
    border: none;
}
